<app-header titulo="MIS METAS PERSONALES"></app-header>
  


<!--<ion-header>
<ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" text="Regresar" color="secondary" mode="ios">

      </ion-back-button>
     </ion-buttons>

    <ion-title>presentacionpersonal</ion-title>
  </ion-toolbar>
</ion-header>-->

<ion-content>
  <h3>Mis Metas Personales</h3>
  <p>Mi meta personal es completar mis estudios universitarios y establecer mi negocio en 5 años me veo con mi empresa de decoraciones ya establecida legalmente graduada como Ing. informática y a largo plazo poder terminar mi casa</p>
    
    <img src="https://previews.123rf.com/images/jlombard/jlombard1511/jlombard151100028/49190648-casa-en-construcci%C3%B3n.jpg"height="100%" width="100%" >
   
    

</ion-content>

