<app-header titulo="PRESENTACION PERSONAL"></app-header>
  


<!--<ion-header>
<ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" text="Regresar" color="secondary" mode="ios">

      </ion-back-button>
     </ion-buttons>

    <ion-title>presentacionpersonal</ion-title>
  </ion-toolbar>
</ion-header>-->

<ion-content>
  <h3>Yoleth</h3>
  <p>Hola mi nombre es Yoleth considero que soy una persona simpática creativa me gusta ayudar a los demás actualmente trabajo en un orfanato hace 10 años</p>
  <img src="https://previews.123rf.com/images/vectorkif/vectorkif1812/vectorkif181200045/127089422-mujer-de-negocios-en-ropa-de-estilo-de-oficina-empresaria-moderna-de-la-se%C3%B1ora-que-sostiene-el-docum.jpg" height="100%" width="100%">
  
</ion-content>
