<app-header titulo="LUGAR DE ORIGEN"></app-header>



<!--<ion-header>
<ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" text="Regresar" color="secondary" mode="ios">

      </ion-back-button>
     </ion-buttons>

    <ion-title>presentacionpersonal</ion-title>
  </ion-toolbar>
</ion-header>-->

<ion-content>
  <H3>tegucigalpa</H3>
  <p>Nací en Tegucigalpa francisco Morazán actualmente resido en la ciudad de tocoa</p>

  <img src="https://i.ytimg.com/vi/d_FZaHbrnFU/maxresdefault.jpg"height="100%"width="100%" >


</ion-content>


  